body {
    font-family: clarendon-urw-extra-wide, serif;
    font-style: normal;
    font-weight: 300;
    color: #1B4384;
    text-align: center;
}

h1 {
    border: 2px solid #1B4384;
    background-color: #F5EFDD;
    font-size: 4em;
    text-transform: uppercase;
    
}

h2 {
    color: #992920;
    font-size: 3.5em;
    text-transform: italic;
}

h3 {
    font-size: 2.5em;
}

#features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.8em;
    color:black;
    text-align: left;
}

#slim {
    align-items: center;
    margin-left: 10vw;
}

#facebook {
    padding-top: 70px;
}

#fin {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#map {
    padding-top: 100px;
}