body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #1B4384;
    text-align: center;
}

h1 {
    font-family: clarendon-urw-extra-wide, serif;
    border: 2px solid #1B4384;
    background-color: #F5EFDD;
    font-size: 4em;
    text-transform: uppercase;
    
}

h2 {
    font-family: clarendon-urw-extra-wide, serif;
    color: #992920;
    font-size: 3.5em;
    text-transform: italic;
}

h3 {
    font-family: clarendon-urw-extra-wide, serif;
    font-size: 2.5em;
}

h4 {
    padding-top: 10vw;
}
#features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.6em;
    color:black;
    text-align: left;
}

#slim {
    align-items: center;
    margin-left: 10vw;
    width: 40vw;
    height: auto;
}

@media screen and (max-width: 768px) {
    #features {
      font-size: 3.5vw;
    }
}

div.social {
    margin-top: 10vw;
}

#logo {
    width: 60vw;
    height: auto;
}